{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Discover Django</title>
    <link rel="stylesheet" href="{% static 'css/style-blog.css' %}">
</head>
<body>
<div class="container">
    <h1>Getting started !</h1>

    <h3>Getting started with Django</h3>
    <p class="article">Depending how new you are to Django, you can try a tutorial, or just dive into the documentation.
       Want to learn more about Django? Read the overview to see whether Django is right for your project.</p></div>

</div>
</body>
</html>