{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Versatile power !</title>
    <link rel="stylesheet" href="{% static 'css/style-blog.css' %}">
</head>
<body>
<div class="container">
    <h1>Versatile power !</h1>

    <h3>Incredibly versatile.</h3>
    <p class="article">Companies, organizations and governments have used Django to build all sorts of things
        from content management systems to social networks to scientific computing platforms.</p>
</div>
</body>
</html>